.container{
    padding: 0px 50px;
}
body{
    color: white;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}
nav a:hover{
    color: rgb(158, 58, 58);
}
a{
    color: white;
    text-decoration: none;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #c02c2c;
}
.fotinha{
    text-align: center;
}
h1{
    color: rgb(209, 46, 46);
}
footer img{
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
footer a{
    margin: 16px;
}
footer p{
        margin-top: 5px;
    }